.NavbarContainer {
}

.Menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 1rem;
}

.Menu > li {
  margin-left: 5rem;
  height: fit-content;
}

.Logo {
  margin-left: 0 !important;
  margin-right: auto;
  font-size: 3rem;
}

@keyframes moveGradient {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.Z {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #a4cbb4,
    #c3a743,
    #e89b8a,
    #e68e70
  );
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  margin-left: 0.1rem;
  font-size: 3.2rem;

  animation: moveGradient 3s infinite linear;
}
