{{template "base" .}} {{define "title"}}index{{end}} {{define "css"}}
<style>
  .name {
    font-weight: bolder;
    font-size: 8rem;
  }
  .description {
    font-weight: bolder;
    font-size: 2.5rem;
  }
  .call-to-action-wrapper {
    height: 90vh !important;
  }
  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
    background-color: transparent;
  }
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    overflow: hidden;
  }
</style>
{{end}} {{define "threejscanvas"}}
<canvas class="webgl"></canvas>
{{end}} {{define "content"}}
<div
  class="container-fluid m-0 p-5 d-flex flex-column justify-content-center call-to-action-wrapper"
>
  <div
    class="row m-0 p-0 w-100 gruppo-regular d-flex justify-content-center align-items-center"
  >
    <h1 class="text-primary name"><bold>Michael Hayes</bold></h1>
  </div>
  <div
    class="row m-0 p-0 w-100 gruppo-regular d-flex justify-content-center align-items-center mb-5"
  >
    <h4 class="description">
      <span class="text-primary">[&nbsp;</span>
      <span class="text-secondary">Software Engineer</span>
      <span class="text-primary">,&nbsp;</span>
      <span class="text-white">Freelance Developer</span>
      <span class="text-primary">&nbsp;]</span>
    </h4>
  </div>
</div>
{{end}} {{define "js"}}
<script src="https://unpkg.com/three@0.128.0/build/three.min.js"></script>
<script type="module" src="/static/scripts/threejs/home.js"></script>
{{end}}
